@font-face {
    font-family: neu ;
    src: url(NeueHaasDisplayBold.ttf);
}
@font-face {
    font-family: neu ;
    font-weight: 100;
    src: url(NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neuRoman ;
    font-weight: 200;
    src: url(NeueHaasDisplayRoman.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #e9fcfc;
}

#main {
    position: relative;
    z-index: 10;
    overflow: hidden;
}
#page1 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #e9fcfc80; */
    position: relative;
    padding: 0 1vw; 
}
nav {
    padding: 1.2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 8px 20px;
    border: 1px solid #1e28386a;
    border-radius: 50px;
    font-weight: 500;
    color: #05204A;
    transition: all ease 0.3s;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #05204A;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #05204A;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #92bd41;
}
.container{
    margin-top: 15px;
    color: #05204A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}
.auto-type{
    color: #91bd41;    
}
#center{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #1e28386a;
    padding-bottom: 2.5vw;
} 
#left h3{
    width: 35vw;
    font-size: 1.8vw;
    line-height: 2vw;
    color: #05204A;
    padding-bottom: 18px;
}
#right{
    font-size: 6vw;
    text-align: right;
    line-height: 6vw;
    color: #05204A;
}
#page1 video{
    position: relative;
    border-radius: 60px;
    margin-top: 2vw;
    min-height: 60vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: #e9fcfc80; */
    /* padding: 2vw 0; */
    position: relative;
}
#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.cons{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h2{
    font-size: 7vw;
    color: #05204A;;
    display: inline-block;
}
.gola {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #91bd41;
    margin: 1vw 2vw;
}
@keyframes move{
    from{ 
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom {
    height: 80vh;
    width: 100%;
    /* padding: 2vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom img {
    width: 55%;
    border-radius: 15px;
}
#left-upper{
    font-size: 4vw;
    color: #05204A;
    line-height: 4vw;
}
#easier{
    color: #91bd41;
    font-size: 4vw;
}
#page2-bottom h3{
    font-size: 2vw;
    color: #05204A;
}

#bottom-part2 {
    width: 40%;
    margin-left: 4vw;
}


#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.5vw;
    font-family: neuRoman;
}
 #page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #e9fcfc80; */
    
 }
.elem{
    height: 128px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(61, 61, 61, 0.436);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
    color: #05204A;
    position: relative;
    z-index: 9;
}
.elem:hover h2{
    color: #92bd41;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #05204A;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}
.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 18%;
    display: none;
    background-size: cover;
    background-position: center;
}
.swiper {
    width: 100%;
    /* height: 100%; */
    padding: 2vw 2vw;
    font-size: 2vw;
  }
.swiper h2{
   align-items: center;
   justify-content: center;
   display: flex;
   color: #05204A;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 17vw;
    height: 17vw;
    object-fit: cover;
    border-radius: 2vw;
  }
  .swiper-pagination{
    margin-top: 1vw;
    border-bottom: 1px solid #1e28386a;
  }
#page4{
    width: 100%;
    height: 100vh;
    padding-top: 12vw;
    position: relative;
    /* padding-bottom: 1vh; */
}
#page4-main{
    height: 20vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}
#page4-right{
    width: 19vw;
    font-weight: 200;
    font-family: neuRoman;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2vw;
   
}
#footmarket{
    /* padding-top: 8vh; */
    /* height: 4vw; */
    padding-bottom: 2vw;
}
#page4-right img{
    width: 10vw;
    /* margin-bottom: 10px; */
}
#page4-right  p{
    font-size: 1vw;
    font-family: nueRoman;
}
#page4-mid{
    /* width: 20vw; */
    height: 30vw;
    font-weight: 200;
    font-family: neuRoman;

}
#page4-left{
    /* width: 30vw; */
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }
 .contact-left-title h2{
    font-weight: 600px;
    color:#05204A;
    font-size: 30px;
    margin-bottom: 5px;
  }

 .contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    border-radius: 50px;
    background-color: #92bd41ab;
}

 .contact-left textarea{
       height: 100px;
       /* padding-top: 15px; */
       border-radius: 20px;
 }
 .contact-inputs:focus{
    border: 2px solid #171d6c;
 }
 .contact-inputs::placeholder{
    color: #05204A;
 }
 .contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #92bd41;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #051f4aed;

 }
 
.home-sci{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #05204A;
    border-radius: 50%;
    font-size: 35px;
    color: #05204A;
    text-decoration: none;
    margin: 3px 15px 3px 0;
    transition: 0.5s ease;
    opacity: 1;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  .home-sci a:hover {
    background: #91bd41;
    color: #081b29;
    box-shadow: 0 0 20px #92bd41;
  }
  
 @keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  } 
  #divfooter{
    color: #05204A;
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
  }
  #leftfoot{
    font-size: 3vw;
    justify-content: center;
    display: flex;
    /* margin-top: 1vw; */
    /* margin-bottom: 0.5vw; */
  }
  #rightfoot{
    font-size: 2vw;
    justify-content: center;
    display: flex;
  }
  